Repository listener-dong/Monorep_eslint: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

ci: 优化主题切换
  packages/styles/index.scss
Due: prettier --cache --ignore-unknown --write

ci: 优化主题切换
  .lintstagedrc
  packages/styles/index.scss
Due: prettier --cache --ignore-unknown --write

ci: 优化主题切换
  .lintstagedrc
Due: none

ci: 优化主题切换-主题抽离为公共样式
  micro/base/src/style/index.scss
  packages/styles/defauit.scss
  packages/styles/index.scss
  packages/styles/theme.scss
Due: prettier --cache --ignore-unknown --write, stylelint --fix

ci: 优化eslint配置 双标签无内容自动闭合
  .eslintrc.cjs
  micro/base/src/App.vue
  micro/base/src/components/MyTable.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

ci: 优化eslint配置 双标签无内容自动闭合
  micro/base/src/App.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

ci: 优化eslint配置 双标签无内容自动闭合
  .eslintrc.cjs
Due: none

ci: 优化eslint配置 双标签无内容自动闭合
  .lintstagedrc
Due: none

ci: 配置miecro-app微前端框架
  README.md
  micro/base/package.json
  micro/base/src/App.vue
  micro/base/src/main.js
  micro/pkg-1/index.html
  micro/pkg-1/package.json
  micro/pkg-1/src/App.vue
  micro/pkg-1/src/components/Bar.jsx
  micro/pkg-1/src/components/HelloWorld/index.js
  micro/pkg-1/src/components/HelloWorld/src/index.vue
  micro/pkg-1/src/components/MyTable.vue
  micro/pkg-1/src/main.js
  micro/pkg-1/src/style/index.scss
  micro/pkg-1/tailwind.config.js
  micro/pkg-1/vite.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

ci: 配置主题切换
  .vscode/settings.json
  micro/base/src/App.vue
  micro/base/src/components/Forms.vue
  micro/base/src/components/MicroOne.vue
  micro/base/src/components/MyTable.vue
  micro/base/src/style/color/README.md
  micro/base/src/style/index.scss
  micro/base/src/style/theme/README.md
  micro/base/src/style/theme/default/index.scss
  micro/base/src/style/theme/default/setting.scss
  micro/base/src/style/theme/red/index.scss
  micro/base/src/style/theme/red/setting.scss
  micro/base/src/style/theme/register.scss
  micro/base/src/style/theme/theme.scss
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

ci: 配置子模块路径判断
  micro/base/src/App.vue
  micro/base/src/components/MicroOne.vue
  micro/pkg-1/src/App.vue
  micro/pkg-1/vite.config.js
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

ci: 配置 pkg-2 主题更改方式
  .lintstagedrc
  micro/pkg-2/.eslintignore
  micro/pkg-2/.stylelintignore
  micro/pkg-2/README.md
  micro/pkg-2/element-variables.scss
  micro/pkg-2/gulpfile.cjs
  micro/pkg-2/index.html
  micro/pkg-2/npminstall-debug.log
  micro/pkg-2/package.json
  micro/pkg-2/public/vite.svg
  micro/pkg-2/src/App.vue
  micro/pkg-2/src/assets/vue.svg
  micro/pkg-2/src/components/Bar.jsx
  micro/pkg-2/src/components/HelloWorld/index.js
  micro/pkg-2/src/components/HelloWorld/src/index.vue
  micro/pkg-2/src/components/MyTable.vue
  micro/pkg-2/src/index.css
  micro/pkg-2/src/index.scss
  micro/pkg-2/src/main.js
  micro/pkg-2/src/style/index.scss
  micro/pkg-2/src/theme/134fb0/fonts/element-icons.ttf
  micro/pkg-2/src/theme/134fb0/fonts/element-icons.woff
  micro/pkg-2/src/theme/134fb0/index.css
  micro/pkg-2/src/theme/2bae85/fonts/element-icons.ttf
  micro/pkg-2/src/theme/2bae85/fonts/element-icons.woff
  micro/pkg-2/src/theme/2bae85/index.css
  micro/pkg-2/src/theme/index.scss
  micro/pkg-2/tailwind.config.js
  micro/pkg-2/vite.config.js
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: 兼容micro-app的样式问题
  micro/base/src/App.vue
  micro/base/src/components/MicroOne.vue
  micro/base/src/components/MicroTwo.vue
  micro/pkg-1/src/main.js
  micro/pkg-1/vite.config.js
  micro/pkg-2/src/App.vue
  micro/pkg-2/src/main.js
  micro/pkg-2/vite.config.js
  package.json
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

chore: 配置tailWindCss暗黑模式的切换
  micro/base/src/App.vue
  micro/base/src/components/Forms.vue
  micro/base/src/components/MicroOne.vue
  micro/base/tailwind.config.js
  micro/pkg-1/src/App.vue
  micro/pkg-1/src/main.js
  micro/pkg-2/package.json
  micro/pkg-2/src/App.vue
  micro/pkg-2/src/main.js
  packages/styles/dark.scss
  packages/styles/index.scss
  packages/styles/package.json
  packages/tailwind-config/tailwind-config.js
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write, stylelint --fix

fix: 修改tailwindcss配置
  micro/base/src/App.vue
  packages/tailwind-config/tailwind-config.js
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write, stylelint --fix

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
  stylelint --fix: any of: micro/**/*.{vue,css,scss,html}
